.sidebar {
    height: 100vh;
}

.menu-separator {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.navbar-link {
    color: white;
}

.navbar-link:hover {
    color: white;
    font-weight: 800;
}

.sidebar-nav-text {
    /* Styles for larger screens */
    display: block;
}

.sidebar-nav-section {
    display: block;
    margin-left: .5rem !important;
}

/* Hide text on smaller screens (e.g., mobile) */
@media (max-width: 600px) {
    .sidebar-nav-section {
        display: none;
    }
    .sidebar-nav-text {
        display: none;
    }
    .sidebar-nav-icon {
        min-width: 0 !important;
    }
    .sidebar-nav-item {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}