.sidebar {
    height: 100vh;
}

.menu-separator {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.navbar-link {
    color: white;
}

.navbar-link:hover {
    color: white;
    font-weight: 800;
}

.sidebar-nav-text {
    /* Styles for larger screens */
    display: block;
}

/* Hide text on smaller screens (e.g., mobile) */
@media (max-width: 768px) { /* Adjust 768px to your desired breakpoint */
  .sidebar-nav-text {
    display: none;
  }
}